/* *************************/
/* GENERIC */
/* *************************/


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* *************************/
/* UTILITIES */
/* *************************/




/* *************************/
/* Main */
/* *************************/

#numerimente {
    font-weight: bold;
    font-size: 8rem;
}

.display {
    display: none;
}