/* *************************/
/* GENERIC */
/* *************************/


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* *************************/
/* UTILITIES */
/* *************************/




/* *************************/
/* Main */
/* *************************/

#numerimente {

    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    font-size: 6rem;
    padding: 2rem;
    font-weight: bold;

}

#timer {
    color: red;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

.display {
    display: none;
}